.routines h1 {
  color: rgb(80, 121, 255);
    font-size: 2em;
    font-family: 'Permanent Marker', cursive;
  }
  
  .routines {
    display: flex;
    color: rgb(80, 121, 255);
    flex-wrap: wrap;
    width: fit-content;
  }
  
  .routine {
    color: rgb(80, 121, 255);
    max-width: 200px;
    border: 1px solid black;
    padding: 2%;
    width: fit-content;
  }