.user-routine {
    /* background-color: rgb(73, 73, 73); */
    width:100%;
    padding:1em;
    padding-top: 0;
    border-radius: 1em;
    border: 3px solid rgb(88, 88, 88)
}

.routine-labels {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap:3px;
    padding:1em;

}

.routine-name {
    font-weight: bold;
    font-size: 2em;
    grid-row: 1
}

.routine-creator {
    grid-column: 2;
    grid-row: 1;
    text-align: right;
    /* color: white; */
}

.routine-public-status {
    text-align: right;


}

.routine-goal {
    padding-top:1em;
}

.routine-buttons {
    display:flex;
    flex-direction: row;
    width:50%;
    padding-left:1em;
}

.reply-button, .edit-routine-button, .delete-routine-button, .message-button {
    margin: 1em;
    background:gray;
    color: white;
    padding: 0.5em;
    border-radius: 0.5em;
    cursor: pointer;
}